<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Cities
  <span class="caret"></span>
  </a>
    <ul class="dropdown-menu">
      <% City.all.each do |city| %>
        <li><%= link_to city.name.titleize %></li>
      <% end %>
    </ul>
</div>
