<div class="btn-group dropdown">
  <a class="btn dropdown-toggle" id="dLabel" data-toggle="dropdown" href="#">Cities<b class="caret"></b></a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <% City.all.each do |city| %>
      <li><%= link_to city.name.titleize %></li>
    <% end %>
  </ul>
</div>